<div class="detailNew">
            <div class="left">
                <div class="card">
                    <p class=""><strong>TIN TแปจC & Sแปฐ KIแปN</strong></p>
                </div>
            </div>
            <div class="right">
                <div class="content">
                    <h4>CUแปC THI PIONEER-ETE AUTORACE 2022</h4>
                    <div class="txt">
                        <p>- CHแป 1 NGรY NแปฎA THOOIII - Mแปt cuแปc thi hแบฅp dแบซn ฤแบฟn tแปซ cรขu lแบกc bแป Pioneer sแบฝ diแปn ra!</p>
                        <p>- PIONEER-ETE AUTORACE 2022 lร cuแปc thi ฤฦฐแปฃc tแป chแปฉc bแปi CLB Pioneer. Vแปi mแปฅc ฤรญch tแบกo ra sรขn chฦกi cho cรกc bแบกn sinh viรชn khoa ฤiแปn tแปญ - Viแปn thรดng vร ฤแบทc biแปt lร cรกc bแบกn thรnh viรชn CLB Pioneer cรณ ฤam mรช vแปi xe tแปฑ hรnh. </p>
                        <p>- ฤรขy lร cuแปc thi vแปi mong muแปn  khuyแบฟn khรญch cรกc bแบกn sinh viรชn nghiรชn cแปฉu khoa hแปc vร vแบญn dแปฅng nhแปฏng kiแบฟn thแปฉc ฤรฃ hแปc vรo thแปฑc tiแปn cuแปc sแปng. ฤแบฟn vแปi cuแปc thi cรกc bแบกn sinh viรชn cรณ thแป tiแบฟp cแบญn vแปi lแบญp trรฌnh vi ฤiแปu khiแปn, cรกc thiแบฟt bแป linh kiแปn ฤiแปn tแปญ, แปฉng dแปฅng vรo giแบฃi quyแบฟt cรกc thแปญ thรกch ฤแบงy khรณ khฤn nhฦฐng cลฉng khรดng kรฉm phแบงn thรบ vแป. Ngoรi ra, khi tham gia cuแปc thi chรบng ta cรฒn cรณ thแป giao lฦฐu vร hแปc tแบญp lแบซn nhau. Cuแปc thi nhฦฐ lร mรดi trฦฐแปng ฤแป sinh viรชn phรกt huy nฤng lแปฑc tฦฐ duy sรกng tแบกo, khแบฃ nฤng lรm viแปc ฤแปc lแบญp vร lรm viแปc theo nhรณm cแปงa mรฌnh.</p>
                        <p>- Nghe thแบญt hแบฅp dแบซn phแบฃi khรดng nรo? Vแบญy thรฌ cรฒn chแบงn chแป gรฌ nแปฏa, hรฃy ฤแบฟn tham dแปฑ Ngรy thi ฤแบฅu (05/06/2022) cแปงa PIONEER-ETE AUTORACE vร cแป vลฉ cho cรกc ฤแปi thi cแปงa chรบng mรฌnh nhรฉ. Nhแปฏng mรn thรฌ ฤแบฅu ฤแบทc sแบฏc ฤang chแป ฤรณn cรกc bแบกn.</p>
                        <p>- Ngoรi ra cรฒn cรณ minigame vร nhแปฏng phแบงn quร ฤแบฟn tแปซ cรกc nhร tรi trแปฃ ฤang chแป cรกc bแบกn rinh vแป nแปฏa ^^</p>
                        <p>--------------------------------------</p>
                        <p>๐ฤแปa ฤiแปm thi ฤแบฅu: Khu C - Trฦฐแปng ฤแบกi hแปc Bรกch Khoa - ฤแบกi Hแปc ฤร Nแบตng</p>
                        <p>โฐThแปi gian thi ฤแบฅu: 8h sรกng chแปง nhแบญt 05/06/2022</p>
                        <p>--------------------------------------</p>
                        <a href="https://www.facebook.com/CLBSVNCKHPioneerKhoaDTVT/posts/4582496711852437">Thรดng tin thรชm vแป cuแปc thi</a>
                        <p>--------------------------------------</p>
                        <p>Thรดng tin liรชn hแป:</p>
                        <p>- Email: clbpioneer@gmail.com</p>
                        <a href="https://www.facebook.com/CLBSVNCKHPioneerKhoaDTVT">- Fanpage</a>
                        <img src="/img/cuocthi1.jpg">
                    </div>
                </div>
                <div class="another">
                    <h5>CรC THรNG TIN KHรC</h5>
                    <div class="task">
                        <a href="">SEMINAR Kแปธ THUแบฌT MรY TรNH</a>
                    </div>
                </div>
            </div>
        </div>