<div class="recruit">
            <div class="left">
                <div class="card">
                    <p class=""><strong>MCU MSP430</strong></p>
                </div>
            </div>
            <div class="right">
                <div class="content">
                    <h4 style="text-align: center; color: #000; font-size: 20px;"><strong>MCU MSP430</strong> </h4>
                    <div class="text" style="display: block;">
                        <div style="text-align: center;">
                            <img src="https://sites.google.com/site/dtvtpioneerclub/_/rsrc/1444623783533/home/mcu-msp/images.jpg?height=310&width=320">
                        </div>
                        <p> MSP430 chứa 16 bit RISC CPU, các ngoại vi và hệ thống bộ định thời linh hoạt được kết nối với nhau theo cấu trúc VON-NEUMANN, có các Bus liên kết như: Bus địa chỉ bộnhớ ( MAB), Bus dữ liệu bộ nhớ ( MDB). Đây là một bộ xử lý hiện đại với các mô-đun bộ nhớ tương tự và nhứng kết nối ngoại vi tín hiệu số, MSP430 đã đưa ra được nhữnggiải pháp tốt cho những nhu cầu ứng dụng với tín hiệu hỗn tạp. MSP430 có một số phiên bản như: MSP430x1xx, MSP430x2xx, MSP430x3xx, MSP430x4xx, MSP430x5xx. Dưới đây là những đặc điểm tổng quát của họ vi điều khiển MSP430:</p>
                        <p> + Cấu trúc sử dụng nguồn thấp gúp kéo dài tuổi thọ của Pin</p>
                        <p>     - Duy trì 0.1μA dòng nuôi RAM</p>
                        <p> - Chỉ 0.8μA real- time clock.</p>
                        <p> - 250 μA/ MIPS.</p>
                        <p>----</p>
                        <p>+ Bộ tương tự hiệu suất cao cho các phép đo chính xác </p>
                        <p>- 12 bit hoặc 10 bit ADC-200 kskp, cảm biến nhiệt độ, Vref.</p>
                        <p>- 12 bit DAC.</p>
                        <p>- Bộ giám sát điện áp nguồn.</p>
                        <p>+ 16 bit RISC CPU cho phép được nhiều ứng dụng, thể hiện một phần ở kích thước Code lập trình.</p>
                        <p>- Thanh ghi lớn nên loại trừ được trường hợp tắt nghẽn tập tin khi đang làm việc.</p>
                        <p>- Thiết kế nhỏ gọn làm giảm lượng tiêu thụ điện và giảm giá thành.</p>
                        <p>- Tối ưu hóa cho những chương trình ngôn ngữ bậc cao như C, C++</p>
                        <p>- Có 7 chế độ định địa chỉ.</p>
                        <p>- Khả năng ngắt theo véc tơ lớn.</p>
                        <p>+ Trong lập trình cho bộ nhớ Flash cho phép thay đổi Code một cách linh hoạt, phạm vi rộng, bộ nhớ Flash còn có thể lưu lại như nhật ký của dữ liệu.</p>
                        <p>📍Địa điểm thi đấu: Khu C - Trường Đại học Bách Khoa - Đại Học Đà Nẵng</p>
                        <p>---------------------</p>
                        <p>Mọi thắc mắc các bạn hãy liên hệ qua:</p>
                        <p>- Email: clbpioneer@gmail.com</p>
                        <a href="https://www.facebook.com/CLBSVNCKHPioneerKhoaDTVT">- Fanpage</a>
                        
                    </div>
                </div>
            </div>
</div>