<div class="introduce">
            <div class="left">
                <div class="card">
                    <a href="/homepage/introduce"><p class=""><strong>GIỚI THIỆU</strong></p></a>
                </div>
                <div class="card">
                    <a href="/homepage/introduce/group"><p class=""><strong>NHÓM</strong></p></a>
                </div>
                <div class="card">
                    <a href="/homepage/introduce/BQT"><p class=""><strong>BAN QUẢN TRỊ</strong></p></a>
                </div>
                <div class="card">
                    <a href="/homepage/introduce/chairman"><p class=""><strong>CỰU CHỦ NHIỆM</strong></p></a>
                </div>
            </div>
            <div class="right">
                <div class="content">
                    <div class="responsive">
                        
                            <h3>CÂU LẠC BỘ SINH VIÊN NGHIÊN CỨU KHOA HỌC PIONEER!</h3>
                            <img src="/img/logoclub.png" alt="">
                            <p>Câu lạc bộ sinh viên nghiên cứu khoa học Pioneer là câu lạc bộ trực thuộc LCĐ khoa ĐTVT. Được thành lập vào ngày 06/11/2012. </p>
                            <h4><strong> Mục tiêu - Sứ mệnh</strong></h4>
                            <p>Câu lạc bộ ra đời với tiền đề là các hoạt động nghiên cứu khoa học trong sinh viên, là môi trường các thành viên trao đổi kinh nghiệm, kiến thức trong quá trình học tập, nghiên cứu. Mong muốn tạo lập một sân chơi lành mạnh, năng động, sáng tạo cho các sinh viên Bách Khoa nói chung và sinh viên Khoa Điện Tử - Viễn Thông nói riêng. Đồng thời cũng là nơi ươm mầm cho tài năng, những ý tưởng táo bạo và thực tiễn của sinh viên.</p>
                            <h4><strong>Hoạt động của câu lạc bộ</strong></h4>
                            <p> Đến nay sau hơn 10 năm hình thành và phát triển, câu lạc thường xuyên tổ chức các buổi SEMINAR hàng tháng. Đây cũng chính là dịp để các thầy cô, anh chị cựu sinh viên, doanh nghiệp địa phương đến và chia sẻ kinh nghiệm, kiến thức cho thành viên. Đồng thời tại các buổi sinh hoạt định kì, thành viên clb có thể trao đổi kinh nghiệm học tập, nghiên cứu và để tổng kết, triển khai các hoạt động của câu lạc bộ. </p>

                    </div>
                    
                </div>
            </div>
        </div>