<div class="new">
            <div class="left">
                <div class="menu-left">
                    <h4>DANH MỤC TIN TỨC</h4>
                    <ul>
                        <li><a href="#">KHOA ĐIỆN TỬ- VIỄN THÔNG</a></li>
                            <li><a href="#">NGHIÊN CỨU KHOA HỌC</a></li>
                            <li><a href="#">CÂU LẠC BỘ PIONEER</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="content">
                    <div class="page-title">
                        <p class=""><strong>KHOA ĐIỆN TỬ-VIỄN THÔNG</strong></p>
                    </div>
                    <div class="page">
                        {{#each news}}
                        <ul>
                            <li>
                                <img src="{{this.img}}">
                                <div class="txt">
                                    <strong><a href="/homepage/detailNew">{{this.title}}</a></strong>
                                    {{this.content}} 
                                </div>                                
                            </li>
                        </ul>
                        {{/each}}
                    </div>
                </div>
            </div>
</div>