<div class="mt-4">
    <h3>Đăng bài nghiên cứu khoa học</h3>
    <form method="POST" action="/admin/storeResearch">
        <div class="form-group">
            <label for="title">Tiêu đề</label>
            <input type="text" class="form-control" id="title" name = "title">
        </div>
        <div class="form-group">
            <label for="link">Link</label>
            <input type="text" class="form-control" id="link" name = "link">
        </div>
        <div class="form-group">
            <label for="img">Hình ảnh</label>
            <input type="text" class="form-control" id="img" name = "img">
        </div>
        <div class="form-group">
            <label for="content">Nội dung</label>
            <input type="text" class="form-control" id="content" name = "content">
        </div>
        <button type="submit" class="btn btn-primary">Đăng bài nghiên cứu khoa học</button>
    </form>
</div>