<div class="mt-4">
    <h3>Thêm thông tin liên lạc</h3>
    <form method="POST" action="/admin/storeContact">
        <div class="form-group">
            <label for="address">Địa chỉ</label>
            <input type="text" class="form-control" id="address" name = "address">
        </div>
        <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="text" class="form-control" id="phone" name = "phone">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name = "email">
        </div>
        <button type="submit" class="btn btn-primary">Thêm liên lạc</button>
    </form>
</div>