<div class="mt-4">
    <h3>Thêm thêm cựu chủ nhiệm</h3>
    <form method="POST" action="/admin/storeChairman">
        <div class="form-group">
            <label for="fullname">Tên</label>
            <input type="text" class="form-control" id="fullname" name = "fullname">
        </div>
        <div class="form-group">
            <label for="year">Năm chủ nhiệm
            <input type="text" class="form-control" id="year" name = "year">
        </div>
        <div class="form-group">
            <label for="avatar">Avatar
            <input type="text" class="form-control" id="avatar" name = "avatar">
        </div>
        <button type="submit" class="btn btn-primary">Thêm thêm cựu chủ nhiệm</button>
    </form>
</div>