<div class="container">
    <div class="mt-4 ml-4">
        <h3>Cập nhật thông tin cựu chủ nhiệm</h3>
        <form class="mt-4" method="POST" action="/admin/{{chairman._id}}/updateChairman?_method=PUT">
            <div class="form-group">
                <label for="fullname">Tên</label>
                <input type="text" class="form-control" value="{{chairman.fullname}}" id="fullname" name = "fullname">
            </div>
            <div class="form-group">
                <label for="year">Năm chủ nhiệm</label>
                <textarea class="form-control"  id="year" name = "year">{{chairman.year}}</textarea>
            </div>
            <div class="form-group">
                <label for="avatar">Avatar</label>
                <textarea class="form-control"  id="avatar" name = "avatar">{{chairman.avatar}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Lưu lại</button>
        </form>
    </div>
</div>