<div class="container">
    <div class="mt-4 ml-4">
        <h3>Cập nhật thông tin liên lạc</h3>
        <form class="mt-4" method="POST" action="/admin/{{contact._id}}/updateContact?_method=PUT">
            <div class="form-group">
                <label for="address">Địa chỉ</label>
                <input type="text" class="form-control" value="{{contact.address}}" id="address" name = "address">
            </div>
            <div class="form-group">
                <label for="phone">Số điện thoại</label>
                <textarea class="form-control"  id="phone" name = "phone">{{contact.phone}}</textarea>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <textarea class="form-control"  id="email" name = "email">{{contact.email}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Lưu lại</button>
        </form>
    </div>
</div>