<div class="row ml-4 mt-4">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <h4 class="text-danger">
                            <i class="fa-solid fa-bullhorn"></i>
                        </h4>
                    </div>
                    <div class="float-right">
                        <p class="card-text text-dark">Thông báo</p>
                        <h4 class="bold-text">6</h4>
                    </div>
                </div>
                <p class="text-muted">
                    <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i> 65% lower growth
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <h4 class="text-danger">
                            <i class="fa-solid fa-newspaper"></i>
                        </h4>
                    </div>
                    <div class="float-right">
                        <p class="card-text text-dark">Tin tức</p>
                        <h4 class="bold-text">10</h4>
                    </div>
                </div>
                <p class="text-muted">
                    <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i> 65% lower growth
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <h4 class="text-danger">
                            <i class="fa-solid fa-flask"></i>
                        </h4>
                    </div>
                    <div class="float-right">
                        <p class="card-text text-dark">NCKH</p>
                        <h4 class="bold-text">6</h4>
                    </div>
                </div>
                <p class="text-muted">
                    <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i> 65% lower growth
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <h4 class="text-danger">
                            <i class="fa-solid fa-file"></i>
                        </h4>
                    </div>
                    <div class="float-right">
                        <p class="card-text text-dark">Tài liệu</p>
                        <h4 class="bold-text">1</h4>
                    </div>
                </div>
                <p class="text-muted">
                    <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i> 65% lower growth
                </p>
            </div>
        </div>
    </div>

</div>