<section class="vh-100" style="background-color: #508bfc; height:720px;">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card shadow-2-strong" style="border-radius: 1rem;">
					<div class="d-flex justify-content-center">
						<div class="brand_logo_container pt-5">
							<img src="https://scontent.fdad3-4.fna.fbcdn.net/v/t1.6435-9/69615360_2014430708659063_628140831055806464_n.jpg?_nc_cat=105&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=FuPTWgl9feQAX93EOvd&_nc_ht=scontent.fdad3-4.fna&oh=00_AT9uvmjWLf-drx7_yAEJcG8_ohYPNx0taFB24CW48KqQbA&oe=62A9D2C2" width="200" height="200" class="brand_logo" alt="Logo">
						</div>
					</div>
					<div class="card-body p-5 text-center pt--">
						<form method="POST" action="/admin">
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input type="text" name="admin" class="form-control input_user" value="" placeholder="Admin">
							</div>
							<div class="input-group mb-2">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" name="password" class="form-control input_pass" value="" placeholder="Password">
							</div>
							<div class="pt-5">
								<button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
							</div>
							<hr class="my-4">
							<hr class="my-4">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
