.header {
    height: auto;
    background-color: #003478;
  }
      
  .header .container {
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
      
  .menu {
    height: auto;
    background-color: #fff;
    border-bottom: 4px solid #a6a5a5;
  }
      
  .menu .container {
    max-width: 1400px;
    margin: 0px auto;
  }
      
  nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
  }
      
  .logo{
    padding: 3px 0px;
  }
      
  .logo img{
    width: 100%;
    max-width: 500px;
    height: auto;
    text-transform: uppercase;
  }
      
  #main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;  
  }
      
  #main-menu li a{
    color: black;
    display: block;
    padding: 30px 15px;
    text-decoration: none;
    font-size: 17px;
  }
    
  #main-menu li a:hover {
    color: #1656cc;
  }
    
  #main-menu ul.sub-menu{
    position: absolute;
    background-color: #fff;
    font-size: 15px;
    padding: 15px 0px;
    list-style: none;
    display: none;
  }
      
  #main-menu li:hover ul.sub-menu {
    display: block;
  }
      
  #main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #eae7e7;
  }
      
  #main-menu ul.sub-menu li:hover a{
    border-bottom: 1px solid #d2d1d1;
  }
      
  #main-menu ul.sub-menu li:last-child a{
    border: none;
  }
    
  .main {
    display: flex;
    max-width: 1200px;
    width: auto;
    margin: auto;
    margin-top: 20px;
  }
   
  .left .menu-left ul {
    margin: -10px 0px 0px 0px;
    padding: 0px;
    border: 1px solid #ccc;
  } 
  
  .left .menu-left ul li {
    list-style: none;
  }
  
  .left .menu-left ul li a {
    display: block;
    text-decoration: none;
    line-height: 45px;
    height: 40px;
    border-bottom: 1px solid #ccc;
    color: black;
    text-indent: 15px;
  }
  
  .left .menu-left ul li a:hover {
    color: #1656cc;
  }
  
  .left .menu-left h4 {
    background: #1656cc;
    /* max-width: 300px; */
    width: 300px;
    height: 40px;
    margin-top: 0px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    color: #fff;
  }
    
  .right {
    width: 860px;
  }
  
  .main .page-title {
    padding: 15px 100px;
    font-size: 18px;
  }
      
  .main .page ul {
    margin: 0px;
    padding: 0px;
  }
      
  .main .page ul li {
    list-style: none;
    clear: left;
    border-bottom: 2px solid rgb(246, 244, 244);
    margin-bottom: 20px;
    margin-left: 15px;
    display: flex;
  }
      
  .main .page ul li img {
    width: 300px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
      
  .main .page ul li a {
    font-size: 16px;
    margin-right: 0;
    display: flex;
    color: black;
    margin-top: 0px;
  }
      
  .txt {
    display: flex;
    justify-content: end;
    padding-top: 0;
    margin-left: 30px;
  }
  