<footer class=" text-white  text-lg-start mt-2" style="background-color: #003478; font-size: 15px">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h3 class="text-uppercase">Câu lạc bộ sinh viên nghiên cứu khoa học Pioneer</h3>

        <p>
          Phòng C121B Khu C Đại học Bách Khoa Đà Nẵng
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h4 class="text-uppercase">Kết nối</h4>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/CLBSVNCKHPioneerKhoaDTVT" class="text-white">Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-white">Youtube</a>
          </li>
          <li>
            <a href="#!" class="text-white">Instagram</a>
          </li>
          <li>
            <a href="#!" class="text-white">Tik tok</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>