<div class="" style="background-color: #003478; color: #fff; font-size: 12px; margin-bottom: -16px;">
    <div class="container ">
        <p class="">ĐẠI HỌC ĐÀ NẴNG - TRƯỜNG ĐẠI HỌC BÁCH KHOA - KHOA ĐIỆN TỬ VIỄN THÔNG</p>   
        {{!-- <a href="">Đăng nhập</a> --}}
    </div>
</div>
<nav class=" navbar-light"></nav>
    <div class="container">
        <!-- Image and text -->
        <a class="navbar-brand" href="#"  style="color: red; line-height: 105px; font-size: 30px;">
            <img src="https://scontent.fdad1-2.fna.fbcdn.net/v/t1.6435-9/69615360_2014430708659063_628140831055806464_n.jpg?_nc_cat=105&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=jAJQc8XE9VQAX905eOw&_nc_ht=scontent.fdad1-2.fna&oh=00_AT_iG-bSllUneIjcdPuCiDIiQN_6JQXJgQahYDbL6yZXkg&oe=62A5DE42" width="95" height="95" class="d-inline-block align-top" alt="">
            CÂU LẠC BỘ SV NCKH PIONEER
        </a>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Giới thiệu <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Nhóm <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Nghiên cứu khoa học</a>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link" href="#">Tuyển thành viên</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Tài liệu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Nhúng/IoT</a>
                        <a class="dropdown-item" href="#">AI</a>
                        <a class="dropdown-item" href="#">Điện tử</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled" href="#">Liên hệ</a>
                </li>
            </ul>
         </div>
    </div>
</nav>