<div class="header">
            <div class="container">
                <p class="" style="font-size: 12px;">ĐẠI HỌC ĐÀ NẴNG - TRƯỜNG ĐẠI HỌC BÁCH KHOA - KHOA ĐIỆN TỬ VIỄN THÔNG</p>
            </div>
        </div>
        <div class="menu">
            <nav class="container">
                <a href="/homepage" class="logo">
                    <img src="/img/logo.png" alt="Pioneer">
                </a>
                <ul id="main-menu">
                    <li><a href="/homepage"><strong>TRANG CHỦ</strong></a></li>
                    <li><a href="/homepage/introduce"><strong>GIỚI THIỆU</strong></a></li>
                    <li><a href="/homepage/news"><strong>TIN TỨC</strong></a>
                    </li>
                    <li><a href="/homepage/document"><strong>TÀI LIỆU</strong></a>
                    </li>
                    <li><a href="/homepage/recruit"><strong>TUYỂN THÀNH VIÊN</strong></a></li>
                    <li><a href="/homepage/contact"><strong>LIÊN HỆ</strong></a></li>
                </ul>
            </nav>
        </div>